* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.6;
}
